{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="w-75 mx-auto">

        <h2>Login</h2>
        <form method="post" action="{% url 'account_login' %}" class="form-group">
            {% csrf_token %}

            <label for="id_user">Username:</label>
            <input type="text" name="username" id="id_username" required class="form-control my-2">

            <label for="id_password">Password:</label>
            <input type="password" name="password" id="id_password" required class="form-control my-2">

            <button class="btn btn-primary" type="submit">Login</button>

        </form>
        <a href="{%url 'account_signup'%}" class="text-center nav-link">Don't Have an account? Create One</a>
    </div>
</div>

{% endblock %}